.body {
background-image: url(../imagenesYlogos/image.png);
background-repeat: no-repeat;
background-size: 100%;
}

.navbar-custom {
	background-color: #000000;
}
/*logo matea*/
.logo-mateify {
	margin-left: 60px;
	margin-bottom: 10px;
}
/*Mateify*/
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #ffffff;
	width: 183px;
	height: 64px;
	margin-top: 5px;
	margin-left: -40px;

	font-family: Righteous;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	line-height: 40px;
}

/* registrarte*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: rgba(255, 255, 255, .8);
	font-size: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	margin-right: 50px;
	margin-top: 5px;
}
input::-webkit-input-placeholder {
	text-indent: 50px;
}
.ml-aut .navbar-text2 {

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}

input::-webkit-input-placeholder {
    text-indent: 50px;
}
.line-navbar{
    border-bottom: solid 1px rgba(101, 101, 101, 0.33);
    margin-bottom: 15px;
}

.conteiner-text{
display: flex;
flex-direction: row;
justify-content: center;
}

.text{
    width: 797px;
    height: 30px;
    left: 177px;
    top: 183px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    
    color: #FFFFFF;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.barra-busqueda{
    width: 738px;
    height: 57px;
    left: 206px;
    top: 292px;
    
    background: #FFFFFF;

    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}


.text-barra{

width: 277px;
height: 20px;
left: 257px;
top: 308px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 24px;

color: rgba(31, 32, 65, 0.25);   
}

.playlist-button{
position: absolute;
width: 348px;
height: 57px;
left: 401px;
top: 403px;

background: #1ED760;
border-radius: 42px;

position: absolute;
width: 203.57px;
height: 24.7px;
left: 473.7px;
top: 419.15px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
text-transform: uppercase;
}

.fondo{
position: absolute;
width: 100%;
height: 88px;
left: 0px;
top: 612px;

background: #000000;
}

.line-footer{
    border: 1px solid rgba(101, 101, 101, 0.33);
    margin-top: 15px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: -15px;
    margin-bottom: 10px;
}
.text-footer{
    display: inline-block;
    width: 242px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}

.text-logo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}
.text-footer2{
    display: inline-block;
}
.logo-Spotify{
    display: inline-block;
}