.imagen-fondo{
    z-index: -1;
    position:fixed;
    background-size: cover;
    top:0px;
    height: 100%;
    }
.container{
background-color: white;
}
.logo-mateify{
width: 37px;
height: 33px;
}
.nombre-mobile{
    filter: invert(1);
}

.nombre-mateify{
font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;

color: #000000;
}

.container .text-sesion{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #000000;
}

.barra-nombre{
height: 57px;
background: white;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 33px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: rgba(31, 32, 65, 0.25);
}

.barra-contraseña{
height: 57px;
background: #FFFFFF;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 33px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: rgba(31, 32, 65, 0.25);
}

.botton-recuerdame{
width: 29.17px;
height: 29.17px;

background: #FFFFFF;

box-sizing: border-box;
border-radius: 4px;
}

.botton-text{
font-family: Montserrat;
font-style: normal;font-weight: 600;
font-size: 18px;
line-height: 24px;

color: rgba(31, 32, 65, 0.5);
}


.text-olvidar{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #1ED760;
}

.container .botton-sesion{
background: #1ED760;
border-radius: 42px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #FFFFFF;
}

.line{
width: 527px;
height: 0px;
border: 1px solid rgba(101, 101, 101, 0.33);
}

.text-cuenta{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #000000;
}

.container .button-registro{
background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 42px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;

color: #000000;
}

.container .button-registro-mobile{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    
    color: rgba(31, 32, 65, 0.5);
}