.container{
    position: absolute;
    width: 100%;
    height: 83px;
    left: 1px;
    top: 0px;
    
    background: #FFFFFF;
    }
    
    .logo-mateify{
    position: absolute;
    width: 37px;
    height: 33px;
    left: 495px;
    top: 25px;
    
    }
    .nombre-mateify{
    position: absolute;
    width: 183px;
    height: 64px;
    left: 543px;
    top: 19px;
        
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
        
    color: #000000;
    }
    
    .text-sesion{
    position: absolute;
    width: 279px;
    height: 16px;
    left: 451px;
    top: 117px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    }
    
    .barra-nombre{
    position: absolute;
    width: 527px;
    height: 57px;
    left: 313px;
    top: 170px;
    
    background: #FFFFFF;
    
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
    }
    .barra-contraseña{
    position: absolute;
    width: 527px;
    height: 57px;
    left: 313px;
    top: 237px;
        
    background: #FFFFFF;
    
        
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
    }
    