.body {
	background-color: black;
}
.navbar-custom {
	background-color: #000000;
}
/*logo matea*/
.logo-mateify {
	margin-left: 60px;
	margin-bottom: 10px;
}
/*Mateify*/
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #ffffff;
	width: 183px;
	height: 64px;
	margin-top: 5px;
	margin-left: -40px;

	font-family: Righteous;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	line-height: 40px;
}

/* Usuario*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: rgba(255, 255, 255, .8);
	font-size: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	margin-right: 50px;
	margin-top: 5px;
}
input::-webkit-input-placeholder {
	text-indent: 50px;
}
.line-navbar{
    border-bottom: solid 1px rgba(101, 101, 101, 0.33);
    margin-bottom: 15px;
}

.boton {
	width: 213px;
	height: 43px;
	left: 889px;
	top: 125px;

	background: #1ed760;
	border-radius: 42px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	border: none;

	color: #ffffff;
}
.bloque-busqueda {
	display: flex;
	justify-content: space-between;
	margin-left: 80px;
	margin-right: 70px;
}
.barra-busqueda {
	width: 850px;
	height: 43px;
	left: 65px;
	top: 125px;

	background: #ffffff;
	/* Dark 25% */

	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 33px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	/* or 133% */

	color: #505054;
}

.playlist{
	font-family: Montserrat;
	font-size: 3.5vh;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 80px;
	margin-top: 40px;
	
	}
.bloque {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
}

.container1 {
	display: inline-block;
}
.container2 {
	display: inline-block;
}
.container3 {
	display: inline-block;
}
.container4 {
	display: inline-block;
}
.container5 {
	display: inline-block;
}
.container6 {
	display: inline-block;
}

.name_playlist {
	height: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 2.2vh;
	line-height: 16px;

	color: #ffffff;
}
.canciones {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 1.8vh;
	line-height: 14px;

	color: #ffffff;

	mix-blend-mode: normal;
	opacity: 0.48;
}
.bloque-dos {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
}
.line-footer{
    border: 1px solid rgba(101, 101, 101, 0.33);
    margin-top: 15px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
}
.text-footer{
    display: inline-block;
    width: 242px;
    height: 30px;
    left: 66px;
    top: 641px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}

.text-logo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    
    color: #FFFFFF;
}
.text-footer2{
    display: inline-block;
}
.logo-Spotify{
    display: inline-block;
}