.container{
    position: absolute;
    width: 100%;
    height: 83px;
    left: 0px;
    top: 0px;
    

background: #000000;
    
}

.logo-mateify{
    position: absolute;
    width: 37px;
    height: 33px;
    left: 66px;
    top: 25px;
}
.nombre-mateify{
    position: absolute;
    width: 183px;
    height: 64px;
    left: 114px;
    margin-top:20px;
    
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    
    color: #FFFFFF;
}
.usuario-mateify{
    position: absolute;
    width: 87px;
    height: 30px;
    left: 1200px;
    top: 15px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}
table{
    width: 78%;
    margin-left: 150px;
    height: 58px;
    margin-top: 230px;
    

    
}
td, th {
    text-align: left;
    padding: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgb(250, 248, 248);
}
.jaja{
    background: #282828;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    
}
.jojo{
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.container2{
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0px;
    top: 83px;
    background: #000000;
}
h3{
    position: absolute;
width: 292px;
height: 30px;
left: 500px;
top: 5px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 38px;
line-height: 46px;

color: #FFFFFF;
}
.barra-busqueda{
    position: absolute;
width: 418px;
height: 37px;
left: 430px;
top: 120px;

background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 33px;
}

.songs{
    position: absolute;
height: 30px;
left: 11.46%;
right: 68.66%;
top: 180px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* or 137% */


color: #FFFFFF;
}



