.container{
    position: absolute;
    width: 100%;
    height: 83px;
    left: 0px;
    top: 0px;
    

background: #000000;
    
}

.logo-mateify{
    position: absolute;
    width: 37px;
    height: 33px;
    left: 66px;
    top: 25px;
}
.nombre-mateify{
    position: absolute;
    width: 183px;
    height: 64px;
    left: 114px;
    margin-top:20px;
    
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    
    color: #FFFFFF;
}
.usuario-mateify{
    position: absolute;
    width: 87px;
    height: 30px;
    left: 1200px;
    top: 15px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}
.container2{
    position: absolute;
    width: 100%;
    height: 110%;
    left: 0px;
    top: 83px;
    
    background: #000000;
}
h3{
    position: absolute;
width: 292px;
height: 30px;
left: 500px;
top: 5px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 38px;
line-height: 46px;

color: #FFFFFF;
}
.barra-busqueda{
    position: absolute;
width: 418px;
height: 37px;
left: 430px;
top: 120px;

background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 33px;
}

.songs{
    position: absolute;
height: 30px;
left: 11.46%;
right: 68.66%;
top: 180px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* or 137% */


color: #FFFFFF;
}

.asterisco{
    position: absolute;
height: 22.09px;
left: 13.5%;
right: 85.66%;
top: 240px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
}
.agregar{
    position: absolute;
    height: 22px;
    left: 18.84%;
    right: 75.43%;
    top: 240px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
}

.titulot{
    position: absolute;
height: 22.09px;
left: 31.36%;
right: 65.41%;
top:240px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
}
.autor{
    position: absolute;
height: 22.09px;
left: 48.38%;
right: 48.15%;
top:240px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
}
.reproducciones{
    position: absolute;
    height: 22px;
    left: 68.4%;
    right: 22.4%;
    top:240px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    
    
    color: #FFFFFF;
    
    mix-blend-mode: normal; 
}
.duracion{
    position: absolute;
    height: 22px;
    left: 81.08%;
    right: 8.85%;
    top: 234px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
}
.tabla-2{
    position: absolute;
width: 1050px;
height: 51px;
left: 134px;
top: 290px;

background: #282828;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
border-radius: 3px;  
}
.numero-1{
    position: absolute;
height: 22.09px;
left: 50px;
top:10px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.img-2{
    position: absolute;
height: 22.09px;
left: 130px;
top:15px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 16px;
/* or 64% */


color: #FFFFFF;

mix-blend-mode: normal;
}
.damedame{
    position: absolute;
height: 22.09px;
left: 270px;
top:8px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.claydeefeat{
    position: absolute;
    height: 22.09px;
    left: 500px;
    top: 3px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}
.numero-39{
    position: absolute;
height: 22.09px;
left:810px;
top:1px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.numero-4cuatro{
    position: absolute;
    height: 24.86px;
    left: 980px;
    top: -7px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}

.numero-2{
    position: absolute;
height: 22.09px;
left: 50px;
top:-45px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.img-3{
    position: absolute;
height: 22.09px;
left:130px;
top:-40px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 16px;
/* or 64% */


color: #FFFFFF;

mix-blend-mode: normal;
}
.Kamelia{
    position: absolute;
height: 22.09px;
left: 270px;
top:-50px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.DDYNunes{
    position: absolute;
height: 22.09px;
left: 500px;
top: -53px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.numero-32{
    position: absolute;
height: 22.09px;
left: 810px;
top: -58px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.numero-3{
    position: absolute;
height: 24.86px;
left: 980px;
top:-66px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.tabla-3{
    position: absolute;
    width: 1050px;
    height: 51px;
    left: 134px;
    top: 400px;
    
    background: #282828;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;  
}
.numero-3tres{
    position: absolute;
height: 22.09px;
left: 13.63%;
right: 85.53%;
top: calc(50% - 22.09px/2 + 60.05px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.img-4{
    position: absolute;
height: 22.09px;
left: 20.14%;
right: 79.02%;
top: calc(50% - 22.09px/2 + 53.05px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 16px;
/* or 64% */


color: #FFFFFF;

mix-blend-mode: normal;
}
.Laughtillyoucry{
    position: absolute;
height: 22.09px;
left: 31.36%;
right: 63.49%;
top: calc(50% - 22.09px/2 + 61.18px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.Faydee{
    position: absolute;
height: 22.09px;
left: 48.38%;
right: 44.91%;
top: calc(50% - 22.09px/2 + 61.18px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.numero-20{
    position: absolute;
height: 22.09px;
left: 68.39%;
right: 27.41%;
top: calc(50% - 22.09px/2 + 61.18px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.numero-tres{
    position: absolute;
height: 24.86px;
left: 81.1%;
right: 14.82%;
top: calc(50% - 24.86px/2 + 61.18px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}

.numero-4{
    position: absolute;
height: 22.09px;
left: 13.63%;
right: 85.53%;
top: calc(50% - 22.09px/2 + 60.05px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.img-5{
    position: absolute;
height: 22.09px;
left: 20.14%;
right: 79.02%;
top: calc(50% - 22.09px/2 + 53.05px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 16px;
/* or 64% */


color: #FFFFFF;

mix-blend-mode: normal;
}
.Idontknow{
    position: absolute;
height: 22.09px;
left: 31.36%;
right: 63.49%;
top: calc(50% - 22.09px/2 + 61.18px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.DeejayFly{
    position: absolute;
height: 22.09px;
left: 48.38%;
right: 44.91%;
top: calc(50% - 22.09px/2 + 61.18px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.dura-cion{
    position: absolute;
height: 22.09px;
left: 68.39%;
right: 27.41%;
top: calc(50% - 22.09px/2 + 61.18px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.repro-duccion{
    position: absolute;
height: 24.86px;
left: 81.1%;
right: 14.82%;
top: calc(50% - 24.86px/2 + 61.18px);

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}

